*{
    margin: 0;
    padding: 0;
    font-family: Nunito, Arial, sans-serif;
}

.zap{
    position: fixed;

}
.zap img{
    position: absolute;
    width: 100px;
    margin-left: 1780px;
    margin-top: 880px;
}

    /* bg-imagem*/
.img-tudo{
    width: 100%;
    height: 550px;
    background-image: url("./img/cidade.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    /* cabeçario de cima*/

.cabeçario img {
    width: 15px;
    height: 15px;
}

.cabeçario{
    width: 100%;
    height: 6%;
    background-color: rgba(255, 255, 255, 0.082);
    color: white;
}
.cabeçario ul {
    margin-left: 250px;
    text-decoration: none;
}

.cabeçario a {
    color: white;
    text-decoration: none;
}

.cabeçario li {
    padding-top: 2px;
    transform: translate(-50% , -50%);
    margin: 0px 50px 0px 5px;
    display: inline-block;
    text-align: center;
}
.cabeçario .img-icon{
    transform: translateY(60%);
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
    /* parte do cabeçario do topo parte 2*/


.topo {
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0);
}
.topo a {
    color: white;
    text-decoration: none;
}

.topo h1{
    display: inline-block;
    font-size: 40px;
    transform: translate(170% , 30%);
}

.topo ul {
    text-decoration: none;
}
.topo li {
    display: inline-block;
    margin: 0px -600px 0px 638px;
    color: white;
    transform: translateY(-100%);
}
.lupa{
    transform: translateY(50%);
    width: 20px;
}

.img-topo{
    background-position: center;
    width: 100%;
}
/* meu botao/produto parte 1*/

.letreiro-meio{
    transform: translate(85%, 40%);
    text-align: center;
    width: 700px;
    font-size: 40px;
    color: white;
}

.botao1{
    color: white;
    border-radius: 35px;
    text-decoration: none;
    background-color: #96b42b;
    padding: 10px 30px;
}


        /*produtos em destaque*/

.produtodestaque h3{
    margin-top: 150px;
    text-align: center;
    font-size: 42px;
    color: #0b7235;
}

.produtodestaque hr{
    height: 4px;
    transform: translateX(770%);
    max-width: 6%;
    margin-top: 20px;
    border-color: #dfe440;
    background-color: #dfe440;
    border: none;
}

        /*Section de fotos*/

.img1{
    display: flex;
    margin-top: 3%;
    width: 280px;
    height: 250px;
    margin-left: 20%;
    border-radius: 20px;
    margin-left: 450px;
}
.img2{
    display: flex;
    margin-top: -250px;
    width: 280px;
    height: 250px;
    margin-left: 40%;
    border-radius: 20px;
    margin-left: 800px;
}
.img3{
    display: flex;
    margin-top: -250px;
    width: 280px;
    height: 250px;
    margin-left: 60%;
    border-radius: 20px;
}

.img4{
    display: flex;
    margin-top: 50px;
    width: 280px;
    height: 250px;
    margin-left: 60%;
    border-radius: 20px;
    margin-left: 450px;
}

.img5{
    display: flex;
    margin-top: -250px;
    width: 280px;
    height: 250px;
    margin-left: 40%;
    border-radius: 20px;
    margin-left: 800px;
}

.img6{
    display: flex;
    margin-top: -250px;
    width: 280px;
    height: 250px;
    margin-left: 60%;
    border-radius: 20px;
}

.img7{
    display: flex;
    margin-top: 3%;
    width: 280px;
    height: 250px;
    margin-left: 20%;
    border-radius: 20px;
    margin-left: 450px;
}

.img8{
    display: flex;
    margin-top: -250px;
    width: 280px;
    height: 250px;
    margin-left: 40%;
    border-radius: 20px;
    margin-left: 800px;
}
.img9{
    position: relative;
    display: flex;
    margin-top: -250px;
    width: 280px;
    height: 250px;
    margin-left: 60%;
    border-radius: 20px;
}

 /* section de fotos / nomes os objetos agora */

.sec-img ul {
    text-decoration: none;

}
.a1{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -140px 0 0 550px;
}
.a2{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -140px 0 0 890px;
}
.a3{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -140px 0 0 1230px;
}
.a4{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -140px 0 0 550px;
}
.a5{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -140px 0 0 910px;
}
.a6{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -140px 0 0 1230px;
}
.a7{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -140px 0 0 550px;
}
.a8{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -140px 0 0 890px;
}
.a9{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -140px 0 0 1250px;
}

        /*botao de compre agora*/

.compre .certo{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    transform: translateY(20%);
}

.compre{
    border-radius: 35px;
    text-decoration: none;
    background-color: #96b42b;
    padding: 10px 30px;
    width: 290px;
    height: 40px;
    transform: translate(220% , 150%);
}
.compre a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}

        /* nossas lojas */

.nossaslojas{
    position: relative;
    margin-top: 10%;
    width: 100%;
    height: 1000px;
    background-image: url("./img/bg-green.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.letreiroloja h3{
    text-align: center;
    font-size: 42px;
    color: white;
    transform: translateY(300%);
}

.letreiroloja hr{
    height: 4px;
    transform: translate(785% , 4000%);
    max-width: 6%;
    margin-top: 20px;
    border-color: #dfe440;
    background-color: #dfe440;
    border: none;
}

.loja1{
    width: 400px;
    height: 500px;
    background-color: white;
    transform: translate(135%, 50%);
    border-radius: 20px;
}
.loja2{
    width: 400px;
    height: 500px;
    background-color: white;
    transform: translate(240%, -50%);
    border-radius: 20px;
}
.nome1 img{
    transform: translate(15% , 10%);
    width: 320px;
    height: 220px;
}
.nome2 img{
    transform: translate(8% , 8%);
    width: 350px;
    height: 230px;
}

.nome1 h3{
    color: green;
    font-size: 30px;
    text-align: center;
    transform: translateY(150%);
}
.nome1 p{
    font-size: 20px;
    text-align: center;
    transform: translateY(290%);
}
.nome1 .botao3{
    position: absolute;
    color: white;
    text-decoration: none;
    border-radius: 35px;
    text-decoration: none;
    background-color: #96b42b;
    padding: 10px 30px;
    width: 100px;
    height: 20px;
   transform: translate(75%, 260%);
}
.nome2 h3{
    color: green;
    font-size: 30px;
    text-align: center;
    transform: translateY(130%);
}
.nome2 p{
    font-size: 20px;
    text-align: center;
    transform: translateY(240%);
}
.nome2 .botao3{
    position: absolute;
    color: white;
    text-decoration: none;
    border-radius: 35px;
    text-decoration: none;
    background-color: #96b42b;
    padding: 10px 30px;
    width: 100px;
    height: 20px;
   transform: translate(75%, 230%);
}

        /*blog so lustre*/

.blog h3{
    margin-top: 90px;
    text-align: center;
    font-size: 42px;
    color: #0b7235;
}

.blog hr{
    height: 4px;
    transform: translateX(770%);
    max-width: 6%;
    margin-top: 20px;
    border-color: #dfe440;
    background-color: #dfe440;
    border: none;
}

        /*sec-blog*/

.sec-blog{
    width: 100%;
    height: 1200px;
}

.blog1 img{
    width: 340px;
    transform: translate(10% , 5%);
}
.blog2 img{
    width: 340px;
    transform: translate(10% , 5%);
}
.blog3 img{
    width: 340px;
    transform: translate(10% , 5%);
}

.blog1{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.103);
    transform: translate(80%, 20%);
}
.blog2{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.103);
    transform: translate(200%, -80%);
}
.blog3{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.103);
    transform: translate(320%, -180%);
}
.sec-blog a.name10{
    position: relative;
    text-decoration: none;
    color: rgb(1, 151, 1);
    font-size: 20px;

}
.sec-blog h3{
    position: relative;
    transform: translate(5% , 100%);
}
.sec-blog p {
    width: 375px;
    height: 80px;
    position: relative;
    color: gray;
    transform: translate(5% , 40%);

}

.botao4{
    position: absolute;
    text-decoration: none;
    border-radius: 35px;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px 30px;
    width: 70px;
    height: 20px;
    transform: translate(10%, 170%);
}


        /*footer*/


footer{
    margin-top: -500px;
    width: 100%;
    height: 500px;
    background-color: #003d1d;
}
.rod1{
    width: 300px;
}

.rod1 h3{
    position: relative;
    font-size: 30px;
    color: white;
    transform: translate(130% , 130%);
}
.rod1 h4{
    position: relative;
    font-size: 18px;
    color: white;
    transform: translate(110% , 300%);
}
.rod1 p{
    position: relative;
    transform: translate(110% , 190%);
    color: white;
}

        /*Rede social*/

.redesocial{
    width: 400px;
}

.redesocial a{
    position: absolute;
    text-decoration: none;
    color: white;
    margin-left: 800px;
    margin-top: -140px;
}
.redesocial hr{
    position: relative;
    transform: translate(208%, -7000%);
    margin: 10px;
}



/*Formulario*/


.form{
    width: 350px;
}

.form h4{
    color: white;
    position: absolute;
    margin-left: 1300px;
    margin-top: -270px;
    font-size: 20px;
}
.inputs{
    position: relative;
   transform: translate(362%, -640%);
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
}

textarea{
    position: absolute;
    transform: translate(365%, -150%);
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    margin-top: -20px;
}

.input{
    position: absolute;
    transform: translate(1095%, -200%);
    border: none;
    background-color: yellow;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 30px 10px 30px;

}

/*Rodapé*/


#rodape{
    width: 100%;
    height: 70px;
    background-color: rgb(16, 34, 16);
}


