*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: grey;
}

.cronometro{
    max-width: 500px;
    height: 120px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 80px;
    background-color: white;
    box-shadow:  0 0 5px white;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}

button{
    padding: 10px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    outline: none;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

.bg-red{
    background-color: red;
}


