*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

    /* parde de cima*/

#img-top{
    width: 100%;
    height: 180px;
    display: inline-block;
    position: absolute;
}

header h1{
    position: relative;
    color: white;
    font-size: 42px;
    text-align: center;
    top: 40px;
    text-shadow: 0px 5px 3px #000000;
}

header p{
    position: relative;
    color: white;
    font-size: 38px;
    text-align: center;
    top: 42px;
    text-shadow: 0px 5px 3px #000000;
}

header img{
    position: relative;
    width: 50px;
}

/*parte do meio*/

#bacground-meio{
    margin-top: 75px;
    width: 100%;
    height: 760px;
    position: absolute;
}

 /*Formulario*/

 #formulario{
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: 650px;
    margin: 7% 0px 0px 13%;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 20px;
}

.inputs{
    display: block;
    width: 82%;
    margin: auto;
    margin-top: 25px;
    padding: 20px 10px 20px 20px;
    border: 2px solid black;
    border-radius: 15px;
    outline: none;
    color: black;
    font-size: 1.2rem;
}


input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

#formulario p{
    color: black;
    font-size: 1.7rem;
    text-align: center;
    text-shadow: 0px 1px 1px #000000;
    margin-top: 20px;
}

#formulario button{
    width: 100%;
    padding: 8px;
    font-size: 30px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/*img-inputs*/
.imginput1{
    top: 4.5%;
    right: 38px;
    position: absolute;
    width: 50px;
}
.imginput2{
    top: 19.5%;
    right: 38px;
    position: absolute;
    width: 50px;
}

.imginput3{
    top: 33.5%;
    right: 40px;
    position: absolute;
    width: 50px;
}

.imginput4{
    top: 47.8%;
    right: 38px;
    position: absolute;
    width: 50px;
}

/*icones*/

.icones{
    display: inline-block;
    margin: 20px 0px 20px 60px;
    width: 75px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.icones:focus{
    border: 2px solid red;
    background-color: #F1F1F1;
    -webkit-box-shadow: 2px 9px 26px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 9px 26px -15px rgba(0,0,0,0.75);
    box-shadow: 2px 9px 26px -15px rgba(0,0,0,0.75);
    outline: none;
}


/*Mostrador*/

#mostrador{
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: 650px;
    margin: 7% 0px 0px 13%;
    background-color: white;
    border-radius: 20px;
    display: none;
}

#mostrador p, h3{
    margin-left: 13%;
    font-size: 25px;
    margin-top: 16px;
    margin-bottom: 15px;
}

#seta{
    width: 40px;
    cursor: pointer;
    margin-top: -5px;
    position: absolute;
    right: 0;
    opacity: 0.7;
    transition: opacity 0.3s;
}

#seta:hover{
    opacity: 1;
}


/* #mostrador.abrir{
    display: block !important;
} */

.imginput11{
    top: 19%;
    right: 38px;
    position: absolute;
    width: 50px;
}
.imginput12{
    top: 33.5%;
    right: 38px;
    position: absolute;
    width: 50px;
}

.imginput13{
    top: 47.5%;
    right: 40px;
    position: absolute;
    width: 50px;
}




/*rodapé*/

footer{
    margin-top: 835px;
    width: 100%;
    height: 29px;
    background-color: rgb(27, 27, 27);
    position: absolute;
}

footer p{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

@media screen and (max-width: 1800px){
    #formulario{
        margin-top: 120px;
    }
    #mostrador{
        margin-top: 120px;
    }
}


@media screen and (max-width: 768px) {

    header h1 {
        font-size: 2.5rem;
    }
    header p {
        font-size: 1.6rem;
    }
    #formulario{
        width: 350px;
        margin-top: 120px;
    }
    #mostrador{
        width: 350px;
        margin-top: 120px;
    }
    .imginput1{
        margin-right: -16px;
    }
    .imginput2{
        margin-right: -16px;
    }
    .imginput3{
        margin-right: -16px;
    }
    .imginput4{
        margin-right: -16px;
    }
    .icones{
        width: 50px;
        margin-left: 40px;
    }
    #formulario p{
        margin-top: 20px;
    }
    .imginput11{
        margin-right: -16px;
    }
    .imginput12{
        margin-right: -16px;
    }
    .imginput13{
        margin-right: -16px;
    }
}

@media screen and (max-width: 460px){
    #bacground-meio{
        margin-top: 56px;
    }
    footer{
        margin-top: 816px;
    }
}