body{
    margin: 0;
    padding: 0;
}
.header{
    overflow: hidden;
    margin: auto;
    width: 80%;
    background: rgb(0, 217, 255);
    padding: 15px;
    font-size: 18px;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
li{
    float: left;
    color: white;
    margin-left: 15px;
}
.logo{
    float: left;
    color: white;
}

@media screen and (max-width: 700px) {
        .header{
            background: turquoise;
        }
}

@media screen and (max-width: 500px){

        .header{
            background: red;
        }
        .logo{
            float: none;
            text-align: center;
       }
       .menu{
           margin-top: 20px;
           float: none;
           text-align: center;
       }
       li{
           float: none;
           margin-bottom: 5px;
           padding: 10px;
       }
}