#textd{
    background-color: rgb(14, 255, 231);
    background-size: cover;
    background-attachment: scroll;

}


#textp{
    color:red;
}


.textv {
    color: green;
}

#base {
    height: 10px;
    background-color: crimson;
    
}
#container {
    background-color: cyan;
    color: white;
}